* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
p {
      font-size: 15px;
     line-height: 35px;
}
.header {
      height: 90vh;
      width: 100%;
      background: linear-gradient(#21212169, 
                                  #2121216e),
                                  url("Images/hero.JPG");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      position: relative;                             

}
.hero-des {
      position: absolute;
      margin: 40vh 270px;
      
}

.who {
     /* font-size: 15px;
     line-height: 35px; */
     background: #f1f1f1;

}
.purpose img {
      height: 250px;
      width: 300px;
}
.showcase {
      top: 20px;
      padding-left: 100px;
}
.showcase img {
   width: 450px;
   height: 100%;
   transition: 0.2s filter;
}
.showcase img:hover {
      filter: brightness(50%);

}