* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
.inputs {
      background: #f7f7f7;
      max-width: 45%;
      padding: 5px 30px;
      padding-top: 50px;
      
      

}
     

.inputs input, .inputs textarea, .dropdown-toggle, .dropdown, p{
      width: 500px;
      margin: 20px auto;
}     
 h6 {

      margin-left: 30px;
} 
.showcase {
      margin-left: 0px;
      padding-left: 120px;
      
}
.showcase img {
      width: 230px;
     

}
.inputs .submit {
      background: #ffcc00;
      margin-left: 50px;
}

.links a {
      color: #ffcc00;
      margin-left: 50px;
      
}