/* colors
black : #212121;
yellow: #ffcc00;
grey : #f7f7f7; */


* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
hr {
      border: 1px solid #212121;
}
.container {
      margin: 80px auto 0px auto;
}
.header {
      height: 100vh;
      width: 100%;
      background-image: linear-gradient(  rgba(0, 0, 0, 0.425),
                                          rgba(8, 8, 8, 0.418)),
                                           url("images/hero.jpg");
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
      position: relative;
}
.header .navbar-brand {
      font-size: 25px;
      font-family: 'Satisfy', cursive;

}
.texture {
      position: absolute;
      top: 70vh;
      left: 0px;
      height: 30vh;
      width: 100%;
      background: linear-gradient(to right,
                                   #212121f6,
                                   #212121b4,
                                   #2121217e);
                                          
      animation-name: Move-to-right;
      animation-duration: 1.5s;
      animation-delay: 0.3s;
      animation-timing-function: ease-in;
      backface-visibility: hidden;

}
@keyframes Move-to-right{
      0%{
          opacity: 0;
          transform: translateX(-100px);
      }
      80%{
          opacity: .6;
          transform: translateX(10px);
      }
      100%{
          opacity: 1;
          transform: translate(0)
      }
  }
.texture .btn {
      color: black;
      background: #ffcc00;
}
.texture .btn:hover {
      color: #070707;
      background: #BF9900;
      /* box-shadow: 1px 1px 1px 1px #ffcc00; */
}
.plain-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 17px;
      font-weight: 400;
}
.projects .projects-img {
      height: 400px;
      width: 350px;
      
}
.projects img {
      height: 400px;
      width: 350px; 
      position: relative;
      filter: grayscale(40%);
      transition: filter 0.2s;
}

.projects .description{
      position: absolute;
      top: 150px;
      left: 90px;
      font-size: 25px;
      visibility: hidden;
      opacity: 0;
      transition: opacity .2s, visibility 0.2s;
}
.projects .description .btn {
      margin-left: 10px;
      color: white;
      border: 1px solid black;
}
.projects .description .btn:hover {
      color: black;
      background: white;
}
/* .projects .projects-img:hover .description{
      visibility: visible;
      opacity: 1;
} */
/* .projects .projects-img:hover .description{
      visibility: visible;
      opacity: 1;
} */
.projects .project-button .btn {
      margin: 40px 440px;
}
/* Purpose */
.purpose {
      background: url('https://www.tonyrobbins.com/wp-content/themes/tonyrobbins2016/images/dust_scratches.png');
      height: 120%;
      font-size: 16px;
      padding-bottom: 50px;
      
}
.purpose h6 {
      color: #ffcc00;
}
.purpose .btn, 
.projects .project-button .btn {
      
      background: #ffcc00;
      color: black;
}
.carousel-control-prev,
 .carousel-control-next {
    
    color: black;
}

.carousel-indicators {
     bottom: -60px;
}
.carousel-indicators li {
      height: 15px;
      width: 15px;
      border-radius: 100%;
      background: transparent;
      border: 1px solid #212121;

}
.carousel-indicators .active {
      border: 1px solid #ffcc00;
      background-color: #ffcc00;
      
}
 .sign-up .btn {
      background: #ffcc00;
}

.events {
     
      margin: 40px;
      
}
.events .new{
      padding-top: 100px;
      margin-left: 700px;
}
.events p {
      font-size: 13px;
      margin: 0px;
}
.events hr {
      border: 1px solid white;
      width: 80%;
}
.events i {
      color: #ffc107;
      padding: 4px;
}
.sign-up {
      background: #f7f7f7;
      font-size: 15px;
}
.sign-up .enlarge {
      height: 120px;
      width: 500px;
}
.sign-up .dropdown-toggle {
      background: #ffffff;
}
.imgs {
      overflow: hidden;
}
.demo img {
      width: 500px;
      transform: scale(1);
      transition: transform 0.3s, filter 0.3s;
}
.demo img:hover {
      transform: scale(1.20);
      filter: brightness(70%);
      
}
.membership {
      background: #212121;
      color: white;
      
}
.membership hr{
      border: 1px solid #212121;
}
.membership .lists {
    margin: 10px auto 0px auto;
}

.btns {
      margin: 10px auto;
      color: aliceblue;
}
.btns .active {
      background-color: #ffcc00;
      border: 1px solid #ffcc00;
      
}
.btns .in-active {
      border: 1px solid #ffcc00;
      color : ##ffcc00;
}
.btns .in-active:hover {
      background-color: #ffcc00;
      color: black;
}

.footer {
      
      background: rgba(10, 10, 10, 0.932);
      color: white;
}
.footer a {
      
      color: white;
      font-size: 15px;
      padding: 0px 8px;
}
.footer p {
      font-size: 14px;
}
.footer i {
      font-size: 20px;
}
.footer i:hover {
      color: #ffcc00;
}
@media (max-width : 900px) {
      .projects img {
            /* margin: 10px 30px; */
            filter: grayscale(1) brightness(50%);
            
      }
      .projects .projects-img {
            margin: 20px 30px;
      }
      .projects .description {
            left: 70px;
            opacity: 1;
            visibility: visible;
            
      }
      .projects .btn {
            font-size: 13px;
      }
      .project-button .btn{
            margin-left: 150px;
      }
      .demo img{
          width: 400px;  
      }
      .sign-up .enlarge {
            height: 100px;
            width: 400px;
      }
      .texture h1, .footer{
            font-size: 20px;
      }
      .header {
            background-position: center;
      }
      .projects .project-button .btn {
            margin: 20px 105px;
      }
}


@media (min-width : 900px ) {
      .projects .projects-img:hover .description{
            visibility: visible;
            opacity: 1;
      }
      .projects img:hover{
            filter: grayscale(1) brightness(50%);
      }
}