* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
.footer {
      
      background: rgba(10, 10, 10, 0.932);
      color: white;
}
.footer a {
      
      color: white;
      font-size: 15px;
      padding: 0px 8px;
}
.footer p {
      font-size: 14px;
}
.footer i {
      font-size: 20px;
}
.footer i:hover {
      color: #ffcc00;
}